<div class="container">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><strong>Course Number:</strong> {{writeReview.courseNumber}}</h2>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>...</dt>
					<dd>...</dd>
				</dl>
				<p><strong>Course Name:</strong> {{writeReview.courseNumber}}</p>
				<p><strong>Department:</strong> {{writeReview.courseNumber}}</p>
				<p><strong>Professor:</strong> {{writeReview.courseNumber}}</p>
				<p><strong>Credits:</strong> {{writeReview.courseNumber}}</p>
				<p><strong>Semester:</strong> {{writeReview.courseNumber}}</p>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<form class="form-horizontal" style="padding:10px;">
			<div class="form-group">
				<label for="grading" class="control-label">Grading System</label>
				<textarea id="grading" class="form-control" rows="2" placeholder=""></textarea>
			</div>
			<div class="form-group">
				<label for="learning" class="control-label">What did you learn from this course?</label>
				<textarea id="learning" class="form-control" rows="2" placeholder=""></textarea>
			</div>
			<div class="form-group">
				<label for="apply" class="control-label">How to go about the course with references?</label>
				<textarea id="apply" class="form-control" rows="2" placeholder=""></textarea>
			</div>
			<div class="form-group">
				<label for="prerequisites" class="control-label">Pre-requisites for the course</label>
				<textarea id="gradingSystem" class="form-control" rows="2" placeholder=""></textarea>
			</div>
			<div class="form-group">
				<label for="usefulForCareer" class="control-label">How will this course be useful for your career?</label>
				<textarea id="userfulForCareer" class="form-control" rows="2" placeholder=""></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Submit Review</button>
			</div>
		</form>
	</div>	
</div>
